/* LoginForm.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    background-color: white;
}

.login-button, .register-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.login-button {
    background-color: #4caf50;
    color: white;
}

.login-button:hover {
    background-color: #6c757d;
}

.register-button {
    background-color: #008cba;
    color: white;
}

.register-button:hover {
    background-color: #6c757d;
}
